.gradle/
build/
*/build/
local.properties
.idea/
.artifacts/
*.iml
.DS_Store
.externalNativeBuild/
.cxx/
captures/

# Generated APK/release files
app/release/
*.apk

# Firebase / Google services credentials
app/google-services.json
google-services.json

# Keystores & Signing
*.jks
*.keystore
signing.properties

# IDE Backups
.idea_backup/
